
<div class="container-fluid p-0 d-flex mb-auto" style="height: 100%;">
    <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-info text-white offcanvas-md offcanvas-start" style="width: 200px;">
        <a href="#" class="navbar-brand">
        <h5><i><img src="/css/umlB.PNG" height="90px" width="90px" ></i></h5>
        </a>
        <hr>
        <ul class="mynav nav nav-pills flex-column mb-auto">
        </ul>
</div>
    